{
  "src/**/*.+(js|json|ts|tsx)": [
    "prettier --write",
  ],
  "src/**/*.+(js|ts|tsx)": [
    "eslint --fix --max-warnings=0",
  ],
  "src/**/*.+(ts|tsx)": [
    "yarn ts:check --build tsconfig.json",
  ],
}